# 001-010

In [1]:
print('hello world')

hello world

In [3]:
print("Mary's cosmetics")

Mary's cosmetics

In [4]:
print('신씨가 소리질렀다, "도둑이야".')

신씨가 소리질렀다, "도둑이야".

In [6]:
print("C\indows")

C\indows

In [8]:
print("안녕하세요. \n만나서\t\t반갑습니다.")
#\n(역슬래시+n)은 줄바꿈, \t(역슬래시+t)는 탭

안녕하세요.
만나서		반갑습니다.

In [9]:
print("오늘은", "일요일")

오늘은 일요일

In [10]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [11]:
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [12]:
print("first", end="");print("second")
#보통은 줄바꿈하여 다음 코드를 작성하지만 end=는 줄바꿈 없이 문자열을 연결함.

firstsecond

In [13]:
print(5/3)

1.6666666666666667

#011-020

In [19]:
삼성전자=50000
총평가금액= 삼성전자 * 10
print(총평가금액)

500000

In [20]:
시가총액 = 2980000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [25]:
s="hello"
t="python"
print(s+"!", end=" ");print(t)

hello! python

In [27]:
print(2+2*3)

8

In [29]:
a="132"
print(type(a))

<class 'str'>

In [32]:
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [33]:
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [36]:
data="15.79"
data=float(data)
print(data, type(data))

15.79 <class 'float'>

In [39]:
year = "2020"
year=int(year)
print(year, type(year))
print(year-3)
print(year-2)
print(year-1)

2020 <class 'int'>
2017
2018
2019

In [40]:
price=48584
total_price = price * 36
print(total_price)

1749024

# 021-030

In [2]:
letters = 'python'
print(letters[0], letters[2])

p t

In [3]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [6]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [12]:
phone_number = "010-1111-2222"
new_number = phone_number.replace("-", " ")
print(new_number)

010 1111 2222

In [13]:
new_number_2 = new_number.replace(" ", "")
print(new_number_2)

01011112222

In [14]:
url ="http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [15]:
lang = 'python'
lang[0]='P'
print = lang

TypeError: 'str' object does not support item assignment

In [16]:
string = 'abcdfe2a354a32a'
string_2 = string.replace('a', 'A')
print(string_2)

Abcdfe2A354A32A

In [18]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

# 031-040

In [19]:
a="3"
b="4"
print(a + b)

34

In [20]:
print("H1"*3)

H1H1H1

In [21]:
print("-"*80)

--------------------------------------------------------------------------------

In [23]:
t1="python"
t2="java"
t3=t1+" "+t2+" "
print(t3*4)

python java python java python java python java

In [39]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s " "나이: %d" % (name1, age1))
print("이름: %s " "나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [42]:
print("이름: {0} " "나이: {1}".format(name1, age1))
print("이름: {0} " "나이: {1}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [52]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}\n"
      f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [62]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",","")
타입변환 =int(컴마제거)

print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [64]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [66]:
data = "   삼성전자    "
stripped_data=data.strip()
print(stripped_data)

삼성전자

# 041-050

In [67]:
ticker = "btc_krw"
new_ticker = ticker.upper()
print(new_ticker)

BTC_KRW

In [68]:
ticker = "BTC_KRW"
new_ticker = ticker.lower()
print(new_ticker)

btc_krw

In [69]:
a="hello"
a2=a.capitalize()
print(a2)

Hello

In [71]:
file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

In [72]:
file_name = "2020_보고서.xlsx"
file_name.startswith(("2020"))

True

In [77]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [80]:
data = "039490     "
data = data.rstrip()
print(data)

039490