# 001-010

In [1]:
print('hello world')

hello world

In [3]:
print("Mary's cosmetics")

Mary's cosmetics

In [4]:
print('신씨가 소리질렀다, "도둑이야".')

신씨가 소리질렀다, "도둑이야".

In [6]:
print("C\indows")

C\indows

In [8]:
print("안녕하세요. \n만나서\t\t반갑습니다.")
#\n(역슬래시+n)은 줄바꿈, \t(역슬래시+t)는 탭

안녕하세요.
만나서		반갑습니다.

In [9]:
print("오늘은", "일요일")

오늘은 일요일

In [10]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [11]:
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [12]:
print("first", end="");print("second")
#보통은 줄바꿈하여 다음 코드를 작성하지만 end=는 줄바꿈 없이 문자열을 연결함.

firstsecond

In [13]:
print(5/3)

1.6666666666666667

#011-020

In [19]:
삼성전자=50000
총평가금액= 삼성전자 * 10
print(총평가금액)

500000

In [20]:
시가총액 = 2980000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [25]:
s="hello"
t="python"
print(s+"!", end=" ");print(t)

hello! python

In [27]:
print(2+2*3)

8

In [29]:
a="132"
print(type(a))

<class 'str'>

In [32]:
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [33]:
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [36]:
data="15.79"
data=float(data)
print(data, type(data))

15.79 <class 'float'>

In [39]:
year = "2020"
year=int(year)
print(year, type(year))
print(year-3)
print(year-2)
print(year-1)

2020 <class 'int'>
2017
2018
2019

In [40]:
price=48584
total_price = price * 36
print(total_price)

1749024

# 021-030

In [2]:
letters = 'python'
print(letters[0], letters[2])

p t

In [3]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [6]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [12]:
phone_number = "010-1111-2222"
new_number = phone_number.replace("-", " ")
print(new_number)

010 1111 2222

In [13]:
new_number_2 = new_number.replace(" ", "")
print(new_number_2)

01011112222

In [14]:
url ="http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [15]:
lang = 'python'
lang[0]='P'
print = lang

TypeError: 'str' object does not support item assignment

In [16]:
string = 'abcdfe2a354a32a'
string_2 = string.replace('a', 'A')
print(string_2)

Abcdfe2A354A32A

In [18]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

# 031-040

In [19]:
a="3"
b="4"
print(a + b)

34

In [20]:
print("H1"*3)

H1H1H1

In [21]:
print("-"*80)

--------------------------------------------------------------------------------

In [23]:
t1="python"
t2="java"
t3=t1+" "+t2+" "
print(t3*4)

python java python java python java python java

In [39]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s " "나이: %d" % (name1, age1))
print("이름: %s " "나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [42]:
print("이름: {0} " "나이: {1}".format(name1, age1))
print("이름: {0} " "나이: {1}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [52]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}\n"
      f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [62]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",","")
타입변환 =int(컴마제거)

print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [64]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [66]:
data = "   삼성전자    "
stripped_data=data.strip()
print(stripped_data)

삼성전자

# 041-050

In [67]:
ticker = "btc_krw"
new_ticker = ticker.upper()
print(new_ticker)

BTC_KRW

In [68]:
ticker = "BTC_KRW"
new_ticker = ticker.lower()
print(new_ticker)

btc_krw

In [69]:
a="hello"
a2=a.capitalize()
print(a2)

Hello

In [71]:
file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

In [72]:
file_name = "2020_보고서.xlsx"
file_name.startswith(("2020"))

True

In [77]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [80]:
data = "039490     "
data = data.rstrip()
print(data)

039490

# 51-60

In [2]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [3]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [8]:
movie_rank.insert(1, "슈퍼맨")

['닥터 스트레인지', '슈퍼맨', '슈퍼맨', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [14]:
del movie_rank [2]
print(movie_rank)

['닥터 스트레인지', '스플릿', '배트맨']

In [16]:
del movie_rank [1]
print(movie_rank)

['닥터 스트레인지']

In [17]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [19]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums))
print(min(nums))

7
1

In [30]:
nums = [1, 2, 3, 4, 5]
sum_num = nums[0]+nums[1]+nums[2]+nums[3]+nums[4]
print(sum_num)

15

In [23]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [33]:
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

# 61-70

In [34]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [37]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

[1, 3, 5, 7, 9]

In [38]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [39]:
nums = [1, 2, 3, 4, 5]
nums.reverse()
print(nums)

[5, 4, 3, 2, 1]

In [45]:
interest = ['삼성전자', 'LG전자', 'Naver']
join_interest = " ".join(interest)
print(join_interest)

삼성전자 LG전자 Naver

In [46]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
join_interest = "/".join(interest)
print(join_interest)

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [49]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [51]:
string = "삼성전자/LG전자/Naver"
interest=string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [57]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

# 71-80

In [59]:
my_variable= ()

In [60]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [62]:
t = (1,)
type(t)

tuple

In [63]:
t = 1, 2, 3, 4
type(t)

tuple

In [64]:
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
type(t)

tuple

In [67]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
type(data)

list

In [70]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data=tuple(interest)
type(data)

tuple

In [71]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [73]:
data = tuple(range(2, 100, 2))
print(data)
#range(시작, 끝, 간격)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 81-90

In [74]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [77]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [78]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [79]:
temp = { }

In [81]:
price = {"메로나" : 1000, "폴라포" : 1200, "빵빠레" : 1800}
print(price)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [82]:
price = {"메로나" : 1000, "폴라포" : 1200, "빵빠레" : 1800}
price["죠스바"] = 1200
price["월드콘"] = 1500
print(price)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [83]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [86]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice ['메로나']=1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [87]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice['메로나']
ice

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'
    
#딕셔너리에 '누가바'라는 key 값이 없음

# 91 - 100

In [91]:
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [96]:
print(inventory["메로나"][0], "원")

300 원

In [97]:
print(inventory["메로나"][1], "개")

20 개

In [98]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [100]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [101]:
ice = list(icecream.values())
print(ice)

[1200, 1200, 1800, 1500, 1000]

In [102]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [103]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [104]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [105]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}