# 001-010

In [1]:
print('hello world')

hello world

In [3]:
print("Mary's cosmetics")

Mary's cosmetics

In [4]:
print('신씨가 소리질렀다, "도둑이야".')

신씨가 소리질렀다, "도둑이야".

In [6]:
print("C\indows")

C\indows

In [8]:
print("안녕하세요. \n만나서\t\t반갑습니다.")
#\n(역슬래시+n)은 줄바꿈, \t(역슬래시+t)는 탭

안녕하세요.
만나서		반갑습니다.

In [9]:
print("오늘은", "일요일")

오늘은 일요일

In [10]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [11]:
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [12]:
print("first", end="");print("second")
#보통은 줄바꿈하여 다음 코드를 작성하지만 end=는 줄바꿈 없이 문자열을 연결함.

firstsecond

In [13]:
print(5/3)

1.6666666666666667

#011-020

In [19]:
삼성전자=50000
총평가금액= 삼성전자 * 10
print(총평가금액)

500000

In [20]:
시가총액 = 2980000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [25]:
s="hello"
t="python"
print(s+"!", end=" ");print(t)

hello! python

In [27]:
print(2+2*3)

8

In [29]:
a="132"
print(type(a))

<class 'str'>

In [32]:
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [33]:
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [36]:
data="15.79"
data=float(data)
print(data, type(data))

15.79 <class 'float'>

In [39]:
year = "2020"
year=int(year)
print(year, type(year))
print(year-3)
print(year-2)
print(year-1)

2020 <class 'int'>
2017
2018
2019

In [40]:
price=48584
total_price = price * 36
print(total_price)

1749024

# 021-030

In [2]:
letters = 'python'
print(letters[0], letters[2])

p t

In [3]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [6]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [12]:
phone_number = "010-1111-2222"
new_number = phone_number.replace("-", " ")
print(new_number)

010 1111 2222

In [13]:
new_number_2 = new_number.replace(" ", "")
print(new_number_2)

01011112222

In [14]:
url ="http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [15]:
lang = 'python'
lang[0]='P'
print = lang

TypeError: 'str' object does not support item assignment

In [16]:
string = 'abcdfe2a354a32a'
string_2 = string.replace('a', 'A')
print(string_2)

Abcdfe2A354A32A

In [18]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

# 031-040

In [19]:
a="3"
b="4"
print(a + b)

34

In [20]:
print("H1"*3)

H1H1H1

In [21]:
print("-"*80)

--------------------------------------------------------------------------------

In [23]:
t1="python"
t2="java"
t3=t1+" "+t2+" "
print(t3*4)

python java python java python java python java

In [39]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s " "나이: %d" % (name1, age1))
print("이름: %s " "나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [42]:
print("이름: {0} " "나이: {1}".format(name1, age1))
print("이름: {0} " "나이: {1}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [52]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}\n"
      f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [62]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",","")
타입변환 =int(컴마제거)

print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [64]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [66]:
data = "   삼성전자    "
stripped_data=data.strip()
print(stripped_data)

삼성전자

# 041-050

In [67]:
ticker = "btc_krw"
new_ticker = ticker.upper()
print(new_ticker)

BTC_KRW

In [68]:
ticker = "BTC_KRW"
new_ticker = ticker.lower()
print(new_ticker)

btc_krw

In [69]:
a="hello"
a2=a.capitalize()
print(a2)

Hello

In [71]:
file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

In [72]:
file_name = "2020_보고서.xlsx"
file_name.startswith(("2020"))

True

In [77]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [80]:
data = "039490     "
data = data.rstrip()
print(data)

039490

# 51-60

In [2]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [3]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [8]:
movie_rank.insert(1, "슈퍼맨")

['닥터 스트레인지', '슈퍼맨', '슈퍼맨', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [14]:
del movie_rank [2]
print(movie_rank)

['닥터 스트레인지', '스플릿', '배트맨']

In [16]:
del movie_rank [1]
print(movie_rank)

['닥터 스트레인지']

In [17]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [19]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums))
print(min(nums))

7
1

In [30]:
nums = [1, 2, 3, 4, 5]
sum_num = nums[0]+nums[1]+nums[2]+nums[3]+nums[4]
print(sum_num)

15

In [23]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [33]:
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

# 61-70

In [34]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [37]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

[1, 3, 5, 7, 9]

In [38]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [39]:
nums = [1, 2, 3, 4, 5]
nums.reverse()
print(nums)

[5, 4, 3, 2, 1]

In [45]:
interest = ['삼성전자', 'LG전자', 'Naver']
join_interest = " ".join(interest)
print(join_interest)

삼성전자 LG전자 Naver

In [46]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
join_interest = "/".join(interest)
print(join_interest)

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [49]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [51]:
string = "삼성전자/LG전자/Naver"
interest=string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [57]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

# 71-80

In [59]:
my_variable= ()

In [60]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [62]:
t = (1,)
type(t)

tuple

In [63]:
t = 1, 2, 3, 4
type(t)

tuple

In [64]:
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
type(t)

tuple

In [67]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
type(data)

list

In [70]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data=tuple(interest)
type(data)

tuple

In [71]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [73]:
data = tuple(range(2, 100, 2))
print(data)
#range(시작, 끝, 간격)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 81-90

In [74]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [77]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [78]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [79]:
temp = { }

In [81]:
price = {"메로나" : 1000, "폴라포" : 1200, "빵빠레" : 1800}
print(price)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [82]:
price = {"메로나" : 1000, "폴라포" : 1200, "빵빠레" : 1800}
price["죠스바"] = 1200
price["월드콘"] = 1500
print(price)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [83]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [86]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice ['메로나']=1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [87]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice['메로나']
ice

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'
    
#딕셔너리에 '누가바'라는 key 값이 없음

# 91 - 100

In [91]:
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [96]:
print(inventory["메로나"][0], "원")

300 원

In [97]:
print(inventory["메로나"][1], "개")

20 개

In [98]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [100]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [101]:
ice = list(icecream.values())
print(ice)

[1200, 1200, 1800, 1500, 1000]

In [102]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [103]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [104]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [1]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 101-150

In [ ]:
boolean

In [2]:
print(3 == 5)
#false

False

In [3]:
x = 4
print(1 < x < 5)

True

In [4]:
print ((3 == 3) and (4 != 3))

True

In [7]:
print(3 => 4)
# 순서 틀림

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (16758622.py, line 1)

In [8]:
if 4 < 3:
    print("Hello World")
#조건 충족 x else 써줘야함.

In [6]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [9]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

# 111-120

In [12]:
user = input( "입력: ")
print(user * 2)

입력: 안녕하세요
안녕하세요안녕하세요

In [14]:
user_input = input("숫자를 입력하세요: ")
print(int(user_input) + 10)

숫자를 입력하세요: 30
40

In [18]:
user_input = input("숫자 입력: ")
if int(user_input) % 2 == 0:
    print("짝수")
else:
    print("홀수")

숫자 입력: 40
짝수

In [23]:
user=input("입력: ")
user2= int(user) + 20
if user2 > 255:
    print(255)
else:
    print(user2)

입력: 250
255

In [24]:
time = input("입력: ")
if time[-2:] == "00":
    print("정각")
else:
    print("비정각")

입력: 20:01
비정각

In [26]:
fruit = ["사과", "포도", "홍시"]
fruit_input = input("좋아하는 과일은?: ")
if fruit_input == "사과" or "포도" or "홍시":
    print("정답")
else:
    print("땡")

좋아하는 과일은?: 포도
정답

In [27]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
stock = input("입력: ")
if stock == "Microsoft" or "Google" or "Naver" or "Kakao" or "SAMSUNG" or "LG":
    print("골로 갈래?")
else: 
    print("방심하지마")

입력: Microsoft
골로 갈래?

In [29]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("입력: ")
if user in fruit:
    print("정답")
else:
    print("오답")

입력: 여름
정답

In [31]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("입력: ")
if user in fruit.values():
    print("정답")
else:
    print("오답")

입력: 딸기
정답

# 121 - 130

In [41]:
user = input("입력: ")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

입력: z
Z

In [45]:
score = input("입력: ")
score = int(score)
if score >= 81 and score <= 100:
    print("당신의 성적은: A")
elif score >= 61 and score < 82:
    print("당신의 성적은: B")
elif score >= 41 and score < 61:
    print("당신의 성적은: C")
elif score >= 21 and score < 41:
    print("당신의 성적은: D")
else: 
    print("당신의 성적은: E")

입력: 100
당신의 성적은: A

In [46]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 100 달러
116700.0 원

In [47]:
num1 = input("number1: ")
num2 = input("number2: ")
num3 = input("number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)
if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

number1: 50
number2: 100
number3: 650
650

In [48]:
num = input("번호: ")
num = num.split("-")[0]
if num == "011":
    print("SKT")
elif num == "016":
    print("KT")
elif num == "019":
    print("LGU")
else:
    print("알수없음")

번호: 010-6745-0052
알수없음

In [49]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 01050
강북구

In [50]:
주민번호 = input("입력: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

입력: 900511-1234501
남자

In [52]:
주민번호 = input("입력: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울")
else:
    print("비서울")

입력: 900511-1133545
비서울

In [53]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

# 131 - 140

In [54]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [55]:
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [56]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [58]:
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [60]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [61]:
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [63]:
for 변수 in [10, 20, 30]:
    print(변수)
    print("------")

10
------
20
------
30
------

In [64]:
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [65]:
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------

# 141-150

In [66]:
리스트 = [100, 200, 300]
for 변수 in 리스트:
    print(변수 + 10)

110
210
310

In [67]:
리스트 = ["김밥", "라면", "튀김"]
for 변수 in 리스트:
    print("오늘의 메뉴: ", 변수)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [68]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 변수 in 리스트:
    print(len(변수))

6
4
4

In [72]:
리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
    print(변수, len(변수))

dog 3
cat 3
parrot 6

In [73]:
리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
    print(변수[0])

d
c
p

In [74]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
    print(변수 * 3)

3
6
9

In [80]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[::-1]:
    print(변수)

라
다
나
가

#151-160

In [5]:
#151
리스트 = [3, -20, -3, 44]
for 변수 in 리스트:
    if 변수 < 0:
        print(변수)

-20
-3

In [9]:
#152
리스트 = [3, 100, 23, 44]
for 변수 in 리스트:
    if 변수 % 3 == 0:
        print(변수)

3

In [10]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for 변수 in 리스트:
    if 변수 % 3 == 0 and 변수 < 20:
        print(변수)

12
18

In [12]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for 변수 in 리스트:
    if len(변수) >= 3:
        print(변수)

study
python
language

In [17]:
#155
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper():
    print(변수)

A
D

In [18]:
#156
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.islower():
    print(변수)

b
c

In [20]:
리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
    첫글자 = 변수[0]
    대문자 = 첫글자.upper()
    print(대문자 + 변수[1:])

Dog
Cat
Parrot

In [21]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for 변수 in 리스트:
    split = 변수.split(".")
    print(split[0])

hello
ex01
intro

In [24]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
    split = 변수.split(".")
    if split[1] == "h":
        print(split)

['intra', 'h']
['define', 'h']

In [26]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for 변수 in 리스트:
    split = 변수.split(".")
    if split[1] == "h" or split[1] == "c":
        print(split)

['intra', 'h']
['intra', 'c']
['define', 'h']

# 161 - 170

In [28]:
#161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [29]:
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [31]:
#163
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [33]:
#164
for i in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [37]:
#165
for i in range(10):
    print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [38]:
#166
for i in range(3, 28, 3):
    print(i)

3
6
9
12
15
18
21
24
27

In [39]:
for i in range(1, 10):
    print(3, "x", i, "=", 3*i )

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [41]:
for i in range(1, 10, 2):
    print(3, "x", i, "=", 3*i )

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [44]:
# 168
hap = 0
for i in range(1, 11):
    hap += i
print("합: ", hap)

합:  55

In [45]:
#169
hap
for i in range(1, 11, 2):
    hap += i
print("합: ", hap )

3
5
7
9
11

In [46]:
# 170
result = 1
for i in range(1, 11):
    result *= i
print(result)

3628800

In [48]:
# 171
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [49]:
# 172
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [ ]:
# 173
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])
    
    #뭔 소린지 모르겠음 LENT(4) -1 = 3? 으로 가는 것 오키...

In [50]:
#174
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [1]:
#175
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [51]:
#176
my_list = ["가", "나", "다", "라", "마"]

for i in range(3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [54]:
# 177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list) -1):
    print(my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])

라 다
다 나
나 가

In [55]:
# 178
my_list = [100, 200, 400, 800]
for i in range(len(my_list) - 1):
    print(abs(my_list[i+1] - my_list[i]))
# abs - 절댓값 함수

100
200
400

In [ ]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
????

In [60]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

# 181-190

In [62]:
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [63]:
#182
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [65]:
#183
stock = {"시가": [100, 200, 300], "종가": [80,210,330]}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [ ]:
#184
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }

In [66]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
# 이중 for문

101 호
102 호
201 호
202 호
301 호
302 호

In [67]:
# 186
for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [69]:
# 187
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

# [::-1] 역순

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
        print("-" * 5)

In [70]:
# 189
for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [71]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
print("-" * 5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [79]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]



for line in data:
    for column in line:
        print(column * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [80]:
for line in data:
    for column in line:
        print(column * 1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [81]:
result = []
for line in data:
    for column in line:
        result.append(column * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [82]:
result = []
for line in data:
    for column in line:
        result.append(column * 1.00014)
print(result)
#리스트를 하나로

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [83]:
result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [84]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    print(row[3])

100
190
310

In [85]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if (row[3] > 150):
        print(row[3])

190
310

In [86]:
for row in ohlc[1:]:
    if (row[3] >= row[0]):
        print(row[3])
# 부등호만 변화

100
310

In [88]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for row in ohlc[1:]:
    volatility.append(row[1]-row[2])
print(volatility)

[40, 30, 10]

In [89]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

10

In [90]:
# 200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0])

# 201-250

In [10]:
def  print_coin():
        print("비트코인")

In [11]:
print_coin()

비트코인

In [13]:
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [21]:
def print_coins():
    for i in range(100):
          print("비트코인")
print_coins()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [ ]:
# 205
hello()
def hello():
    print("Hi")
# 함수 정의 이전에 호출

In [22]:
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [23]:
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [24]:
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [25]:
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

# message1은 실행되지 않고 message2 내에서 B 다음에 출력됨

B
A

In [26]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

# 211 - 220

In [27]:
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [28]:
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [31]:
def 함수(문자열) :
    print(문자열)
    
함수()
#인수가 하나여야함

TypeError: 함수() missing 1 required positional argument: '문자열'

In [ ]:
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)

실수가 아닌 문자

In [32]:
def print_with_smile(string):
    print(string + ":D")

In [33]:
print_with_smile("안녕하세요")

안녕하세요:D

In [34]:
def print_upper_price(price):
    print(price * 1.3)

In [35]:
def print_sum(a, b):
    print(a + b)

In [36]:
def print_arithmetic_operation(a, b):
    print(a, "=", b, a + b)
    print(a, "-", b, a - b)
    print(a, "*", b, a * b)
    print(a, "/", b, a / b)

In [37]:
def print_max(a, b, c):
    max_val = 0
    if a > max_val:
        max_val = 0
    if b > max_val:
        max_val = 0
    if c > max_val:
        max_val = 0
    print(max_val)

# 221-230

In [40]:
def print_reverse(string):
    print(string[::-1])
print_reverse("phyton")

notyhp

In [61]:
def print_score(score_list) :
    print(sum(score_list)/len(score_list))
print_score([1,2,3])

2.0

In [64]:
def print_even(even_list):
    for i in even_list:
        if i % 2 == 0:
            print(i)
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [68]:
def print_keys(dic):
    for keys in dic.keys():
        print(keys)
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [73]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key (my_dict, key) :
    print(my_dict[key])

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [77]:
# 226
def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])
        
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [80]:
def print_mxn(line, num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1) :
        print(line[x * num: x * num + num])
        
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [81]:
def calc_monthly_salary(annual_salary):
    monthly_salary = int(annual_salary / 12)
    return monthly_salary

calc_monthly_salary(12000000)

1000000

In [82]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [83]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

# 231 - 240

In [84]:
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

#print n_plus_1(3) 이 되어야함

NameError: name 'result' is not defined

In [85]:
def make_url(string):
    print("www." + string +".com")
make_url("naver")

www.naver.com

In [86]:
def make_list(string):
    make_list=[]
    for 변수 in string:
        make_list.append(변수)
    return make_list
make_list("abcd")

['a', 'b', 'c', 'd']

In [92]:
def pickup_even(num):
    pickup_even = []
    for i in num:
        if i % 2 == 0:
            pickup_even.append(i)
    return pickup_even

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [94]:
def convert_int(string):
    return int(string.replace(",",""))

convert_int("1,234,567")

1234567

In [95]:
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [96]:
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [97]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [98]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [99]:
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28

## 251 - 260

In [1]:
# 클래스 - 인스턴스(객체)를 만들어 내는 구조, 틀
# 인스턴스 - 클래스를 통해 만들어진 객체
# 객체 - 클래스를 통하지 않고 만들어진 객체

In [2]:
class Human:
    pass

In [4]:
class Human:
    pass

areum = Human()

In [6]:
class Human:
    def __init__(self):
        print("응애응애")
areum = Human()

응애응애

In [11]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
areum = Human("아름", 25, "여자")
print(areum.name)

아름

In [12]:
print("이름: ", areum.name)
print("나이: ", areum.age)
print("성별: ", areum.sex)

이름:  아름
나이:  25
성별:  여자

In [13]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def who(self):
        print(self.name, self.age, self.sex)
areum = Human("아름", 25, "여자")
areum.who()
print(areum.name)

아름 25 여자
아름

In [ ]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex


areum = Human("불명", "미상", "모름")
areum.who()    

areum.setInfo("아름", 25, "여자")
areum.who()

In [15]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def __del__(self):
        print("나의 죽음을 알리지마라")

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, "여자")
del(areum)

나의 죽음을 알리지마라

In [16]:
class OMG :
    def print() :
        print("Oh my god")


mystock = OMG()
mystock.print()      # OMG.print(mystock)

TypeError: OMG.print() takes 0 positional arguments but 1 was given

In [ ]:
## 261-270

In [1]:
class Stock:
    pass

In [3]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)

삼성전자
005930

In [4]:
#263
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
        
    def set_name(self, name):
        self.name = name

a = Stock(None, None)
a.set_name("삼성전자")
print(a.name)

삼성전자

In [10]:
#264
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
        
    def set_name(self, name):
        self.name = name
        
    def set_code(self, code):
        self.code = code

a = Stock(None, None)
a.set_code("005930")
print(a.code)

005930

In [16]:
#265
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
        
    def set_name(self, name):
        self.name = name
        
    def set_code(self, code):
        self.code = code
        
    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code
        

삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930

In [17]:
#266
class Stock:
    def __init__(self, name, code, per, pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
        
    def set_name(self, name):
        self.name = name
        
    def set_code(self, code):
        self.code = code
        
    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code

In [19]:
class Stock:
    def __init__(self, name, code, per, pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
        
    def set_name(self, name):
        self.name = name
        
    def set_code(self, code):
        self.code = code
        
    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code
    
삼성전자 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성전자.배당수익률)

2.83

In [21]:
#268
class Stock:
    def __init__(self, name, code, per, pbr, dividened):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividened = dividened
        
    def set_name(self, name):
        self.name = name
        
    def set_code(self, code):
        self.code = code
        
    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code
    
    def set_per(self):
        return self.per
    
    def set_pbr(self):
        return self.pbr

    def set_dividend(self):
        return self.dividened

In [31]:
#269
class Stock:
    def __init__(self, name, code, per, pbr, dividened):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividened = dividened
        
    def set_name(self, name):
        self.name = name
        
    def set_code(self, code):
        self.code = code
        
    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code
    
    def set_per(self):
        return self.per
    
    def set_pbr(self):
        return self.pbr

    def set_dividend(self):
        return self.dividened

삼성전자 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
삼성전자.set_per(12.75)
print(삼성전자.per)
##TypeError                                 Traceback (most recent call last)
Cell In[31], line 32
     29         return self.dividened
     31 삼성전자 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
---> 32 삼성전자.set_per(12.75)
     33 print(삼성전자.per)

TypeError: Stock.set_per() takes 1 positional argument but 2 were given##

TypeError: Stock.set_per() takes 1 positional argument but 2 were given

In [32]:
종목 = []

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대차 = Stock("현대차", "005380", 8.70, 0.35, 4.27)
LG전자 = Stock("LG전자", "066570", 317.34, 0.69, 1.37)

종목.append(삼성)
종목.append(현대차)
종목.append(LG전자)

for i in 종목:
    print(i.code, i.per)

005930 15.79
005380 8.7
066570 317.34

## 271-280

In [33]:
#271
import random

class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)      
        num3 = str(num3).zfill(6)      
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        
kim = Account("김민수", 100)
print(kim.name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)

김민수
100
SC은행
122-52-425733

In [34]:
#272
import random

class Account:
    account_count = 0 #계좌 횟수

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001

        Account.account_count += 1


kim = Account("김민수", 100)
print(Account.account_count)
lee = Account("이민수", 100)
print(Account.account_count)

1
2

In [35]:
#273
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      
        num2 = str(num2).zfill(2)     
        num3 = str(num3).zfill(6)   01'
        self.account_number = num1 + '-' + num2 + '-' + num3  
        Account.account_count +=1 

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)     # Account.account_count( cls account count 변수 추가)


kim = Account("김민수", 100)
lee = Account("이민수", 100)
kim.get_account_num()

2

In [36]:
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count +=1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)     # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

In [37]:
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count +=1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)     # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount
            
    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

k = Account("kim", 100)
k.deposit(100)
k.withdraw(90)
print(k.balance)

110

In [38]:
#276
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", f"{self.balance:,}")


p = Account("파이썬", 10000)
p.display_info()

은행이름:  SC은행
예금주:  파이썬
계좌번호:  534-86-885500
잔고:  10,000

In [39]:
# 277
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15  # 입금 횟수 -> if 문으로 작성함
                # 이자 지금
                self.balance = (self.balance * 1.01) 


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

p = Account("파이썬", 10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(5000)
p.deposit(5000)
print(p.balance)

50500.0

In [40]:
#278
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

data = []
k = Account("KIM", 10000000) #3개의 인스턴스 생성
l = Account("LEE", 10000)
p = Account("PARK", 10000)

data.append(k)
data.append(l)
data.append(p)

print(data)

[<__main__.Account object at 0x000001EEC8DB25D0>, <__main__.Account object at 0x000001EEC8CD0250>, <__main__.Account object at 0x000001EEC8DA8A90>]

In [41]:
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)
data.append(k)
data.append(l)
data.append(p)

for c in data:  # for 문을 통해 반복 -> 
    if c.balance >= 1000000: #잔고 1000000 이상이면
        c.display_info()

은행이름:  SC은행
예금주:  KIM
계좌번호:  694-29-216382
잔고:  10000000

In [42]:
#280
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.deposit_log.append(amount)
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.withdraw_log.append(amount)
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

    def withdraw_history(self):  #withdeaw history -> amount 반복
        for amount in self.withdraw_log:
            print(amount)

    def deposit_history(self): 
        for amount in self.deposit_log:
            print(amount)


k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history() 

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

100
200
300
100
200

In [47]:
# 281
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

car = 차(2, 1000)
print(car.바퀴)
print(car.가격)

2
1000

In [ ]:
#282
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자전차(차): #자전차(차) -> 상속
    pass

In [49]:
#283
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self. 구동계 = 구동계

bicycle = 자전차(2, 100, "시마노")
print(bicycle.구동계)
print(bicycle.바퀴)

시마노
2

In [50]:
#285
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격) # super -> 상속을 구현하는 데 사용
        
    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)
        
car = 자동차(4, 1000)
car. 정보()

바퀴수  4
가격  1000

In [51]:
#286
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수  2
가격  100

In [52]:
# 287
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계

    def 정보(self): # -> 정보 함수 추가
        super().정보()
        print("구동계 ", self.구동계)

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수  2
가격  100
구동계  시마노

In [54]:
class 부모:
  def 호출(self):
    print("부모호출")

class 자식(부모):
  def 호출(self):
    print("자식호출")

In [55]:
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")

In [56]:
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
    super().__init__()

나 = 자식()

자식생성
부모생성

## 291 -300

In [60]:
f = open("C:\workspace\wassup2\WASSUP2\python\매수종목1.txt", mode="wt", encoding="utf-8")
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [63]:
f = open("C:\workspace\wassup2\WASSUP2\python\매수종목2.txt", mode="wt", encoding="utf-8")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER\n")
f.close()

In [64]:
#294
f = open("C:\workspace\wassup2\WASSUP2\python\매수종목1.txt", encoding="utf-8")
lines = f.readlines()   # python list

codes = []
for line in lines:
    code = line.strip()  #'\n'
    codes.append(code)

print(codes)

f.close()

['005930 삼성전자', '005380 현대차', '035420 NAVER']

In [65]:
f = open("C:\workspace\wassup2\WASSUP2\python\매수종목2.txt", encoding="utf-8")
lines = f.readlines()

data = {}
for line in lines:
    line = line.strip()     # '\n' 제거
    k, v = line.split()
    #print(k, v)
    data[k] = v

print(data)
f.close()

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [66]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [67]:
#297
per = ["10.31", "", "8.00"]
new_per = []

for i in per:
    try:
        v = float(i)
    except: # -> except : 예외가 발생하면 0으로 출력
        v = 0
    new_per.append(v)

print(new_per)

[10.31, 0, 8.0]

In [68]:
#298
try:
    b = 3 / 0
except ZeroDivisionError:
    print("0으로 나눔 불가")

0으로 나눔 불가

In [70]:
#299
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [71]:
# 300
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("clean data")
    finally:
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료